<!DOCTYPE html>
<html>
    <head>
        <title> baby </title>
        <link href="/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <%- include('partials/navbar'); %>
        </header>

<br>
<br>
<br>
<br>

<h1>this is baby</h1>
<img src="pics/baby.jpg" >


<p>About baby</p>


<li>Name: <%= babyinfo.name %> </li>
<li>Breed: <%= babyinfo.breed %> </li>
<li>Age: <%= babyinfo.age %> </li>
<li>Location: <%= babyinfo.location %> </li>
<li>Fixed: <%= babyinfo.fixed ? "Yes" : "No" %> </li>
<li> Litter Trained: <%= babyinfo["litter trained"] ? "Yes" : "No" %>


<%- include('partials/footer'); %>
</body>
</html>