<!DOCTYPE html>
<html>
    <head>
        <title> <%= buninfo.name %> </title>
        <link href="/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="/bootstrap.css">
    </head>




<body>
    <div class="container">
        <div class="row">
            <header>
                <%- include('partials/navbar'); %>
            </header>
        </div>

        <h1 style="margin-top:50px;"> this is <%= buninfo.name %></h1>
        <img src="/<%= buninfo.profile_picture_path %>"  width="600">

        <p>About <%= buninfo.name %></p>


        <li>Name: <%= buninfo.name %> </li>
        <li>Breed: <%= buninfo.breed %> </li>
        <li>Age: <%= buninfo.age %> </li>
        <li>Location: <%= buninfo.location %> </li>
        <li>Fixed: <%= buninfo.fixed ? "Yes" : "No" %> </li>
        <li> Litter Trained: <%= buninfo.litter_trained ? "Yes" : "No" %> </li> 
        <li>Description: <%= buninfo.description %> </li>




        <%- include('partials/footer'); %>
    </div>
</body>
</html>

