<!DOCTYPE html>
<html>
    <head>
        <title> cosmo </title>
        <link href="/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <%- include('partials/navbar'); %>
        </header>




<br>
<br>
<br>
<br>

<h1>this is cosmo</h1>
<img src="pics/cosmo.jpg"  width="600">


<p>About cosmo</p>


<li>Name: <%= cosmoinfo.name %> </li>
<li>Breed: <%= cosmoinfo.breed %> </li>
<li>Age: <%= cosmoinfo.age %> </li>
<li>Location: <%= cosmoinfo.location %> </li>
<li>Fixed: <%= cosmoinfo.fixed ? "Yes" : "No" %> </li>
<li> Litter Trained: <%= cosmoinfo["litter trained"] ? "Yes" : "No" %>

<%- include('partials/footer'); %>
</body>
</html>