<!DOCTYPE html>
<html>
    <head>
        <title> nubbins </title>
        <link href="/styles.css" rel="stylesheet">
    </head>

    <body>
        <header>
            <%- include('partials/navbar'); %>
        </header>

<br>
<br>
<br>
<br>

<h1>this is nubbins</h1>
<img src="pics/nubbins.jpg"  width="600">


<p>About nubbins</p>


<li>Name: <%= nubbinsinfo.name %> </li>
<li>Breed: <%= nubbinsinfo.breed %> </li>
<li>Age: <%= nubbinsinfo.age %> </li>
<li>Location: <%= nubbinsinfo.location %> </li>
<li>Fixed: <%= nubbinsinfo.fixed ? "Yes" : "No" %> </li>
<li> Litter Trained: <%= nubbinsinfo["litter trained"] ? "Yes" : "No" %>

<%- include('partials/footer'); %>
</body>
</html>